body {
  background-image: url("../img/fundo-azul.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/*Navbar*/

nav {
  width: 100%;
  height: 7.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0rem 1rem;
}

.userbtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 15rem;
  max-height: 100%;
  background-color: rgb(2, 80, 170);
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}

.userbtn button {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 50%;
  font-weight: 500;
  height: 3rem;
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 1rem;
  border-bottom: 2px solid rgb(1, 43, 119);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.image-container {
  background: white;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  padding: 0.2rem;
}

figure {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itens {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.itens button {
  background-color: white;
  border-radius: 15px;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  border: none;
  width: 8rem;
  height: 3rem;
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 1rem;
  border-bottom: 2px solid rgb(1, 43, 119);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.itens button:hover {
  background-color: rgb(1, 43, 119);
  color: white;
  border-color: white;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}

nav .logo {
  right: 0;
  margin-left: 25rem;
}

/*Filtro container*/

.box-filtro {
  max-width: 100%;
  display: none;
}

.box-filtro div {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem;
  padding: 0.5rem;
}

.filtro-content {
  width: 100%;
  height: 11rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.pesquisa-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 20rem;
  height: 8rem;
}

.pesquisa-box h3 {
  color: rgb(3, 94, 193);
  font-size: 20px;
  font-weight: 500;
}

.pesquisa-box input {
  width: 18rem;
  height: 2.5rem;
  border: 2px solid black;
  border-radius: 8px;
  padding: 0.5rem;
}

.pesquisa-box button {
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(3, 94, 193);
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.btn-filtrar {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(3, 94, 193);
  color: white;
  font-weight: 500;
  cursor: pointer;
}

#btn-filtrar-aberto{
  display: none;
}

.filtro-btn {
  background-color: white;
  border: none;
  color: rgb(3, 94, 193);
  font-weight: 500;
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  font-size: 20px;
  font-weight: 700;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s;
}

.filtro-btn:hover {
  box-shadow: -13px 8px 5px -3px rgba(0, 0, 0, 0.75);
}

/*Cursos*/
.cursos {
  background-color: white;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.cursos h3 {
  color: rgb(3, 94, 193);
  font-weight: 500;
}

/*Carousel*/
.carousel-container {
  display: flex;
  justify-content: center;
  justify-content: center;
  overflow: hidden;
  width:80%; 
  height: 23rem;
  margin: 0 auto;
}

.carousel {
  display: flex;
  max-width: 100%;
  transition: transform 0.3s ease;
}

.card {
  flex: 0 0 33.33%; /* Exibe três cartões por vez */
  width: 8rem;
  height: 17rem; /* Altura dos cartões */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem;
}

.card .img {
  width: 10rem;
  height: 10rem;
  background-color: RGB(2 50 132);
  border-radius: 50%;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 14px 10px 5px 0px rgba(0,0,0,0.75);
  transition: box-shadow 0.3s ease; 
  font-weight: 500;
  font-size: 19px;
}

.card button:hover{
  box-shadow: none; 
}

.carousel-button {
  cursor: pointer;
}

.botoes-box{
  margin: 1rem;
}

.botoes-box button{
  border: none;
  width: 10rem;
  font-size: 18px;
  background-color: RGB(3 101 195);
  color: white;
  border-radius: 8px;
  font-weight: 700;
}

.error-message{
  color: rgb(255, 91, 91);
  font-weight: 700;
  font-size: 18px;

}

/* Erro sem parametro */
.erro-div{
  margin: 9rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  color: white;
}

