body {
  background-image: url("../img/fundo-azul.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/*Navbar*/

nav {
  width: 100%;
  height: 7.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0rem 1rem;
}

.userbtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 15rem;
  max-height: 100%;
  background-color: rgb(2, 80, 170);
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}

.userbtn button {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 50%;
  font-weight: 500;
  height: 3rem;
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 1rem;
  border-bottom: 2px solid rgb(1, 43, 119);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.image-container {
  background: white;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  padding: 0.2rem;
}

figure {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itens {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.itens button {
  background-color: white;
  border-radius: 15px;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  border: none;
  width: 8rem;
  height: 3rem;
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 1rem;
  border-bottom: 2px solid rgb(1, 43, 119);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.itens button:hover {
  background-color: rgb(1, 43, 119);
  color: white;
  border-color: white;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}

nav .logo {
  right: 0;
  margin-left: 25rem;
}

/*Cursos*/
.cursos {
  margin-top: 5rem;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursos>h3 {
  color: white;
  font-weight: 500;
  border-bottom: 3px solid white;
}

/*Carousel*/
.carousel-container {
  display: flex;
  justify-content: center;
  justify-content: center;
  overflow: hidden;
  width:80%; 
  height: 23rem;
  margin: 0 auto;
}

.carousel {
  display: flex;
  max-width: 100%;
  transition: transform 0.3s ease;
}

.card {
  flex: 0 0 33.33%; /* Exibe três cartões por vez */
  width: 8rem;
  height: 17rem; /* Altura dos cartões */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem;
}

.card .img {
  width: 10rem;
  height: 10rem;
  background-color: RGB(2 50 132);
  border-radius: 50%;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 14px 10px 5px 0px rgba(0,0,0,0.75);
  transition: box-shadow 0.3s ease; 
  font-weight: 500;
  font-size: 19px;
}

.card button:hover{
  box-shadow: none; 
}

.carousel-button {
  cursor: pointer;
}

.botoes-box{
  margin: 1rem;
}

.botoes-box button{
  border: none;
  width: 10rem;
  font-size: 18px;
  background-color: RGB(3 101 195);
  color: white;
  border-radius: 8px;
  font-weight: 700;
}

/*Crtificado*/

.certificate {
  margin-top: 2rem;
  background-color: white;
  background: linear-gradient(to right, rgb(3, 114, 204), #ffffff);
  width: 800px;
  margin: 0 auto;
  border: 2px solid #333;
  text-align: center;
  padding: 20px;
}
.certificate-title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Old Standard TT", serif;
}
.certificate-text {
  font-size: 18px;
  margin-top: 20px;
}
.recipient-name {
  font-size: 28px;
  font-weight: bold;
}
.date {
  font-size: 16px;
}
.signature {
  margin-top: 40px;
}
